body {
  background-color:#FFDFBB;
  font-family: "Courier New", "Courier", monospace;
}

header {
  background-color:F3D68F;
  color:1F5266;
}


p {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;

}

h1 {
  color:#A2412D;
  font-size : 40px
}
h2 {
  color:#CB6B57;
  font-size:28px;
  margin-bottom: 10px;
}
h3 {
  color:#1F5266;
  font-size:22px;
  font-style: oblique;
  padding: 2px;
}

